body{

    font-family: sans-serif;
    background-image: url("MODELO2.png") ;

}



.box{
    margin-top: 30px;
    width: 380px;
    height: 660px;
    position: relative;
    left: 37%;
    opacity: 0.9;
    margin-bottom: 30px;
    background: #191919;
    text-align: center;
}



.box .avatar {

    width: 119px;
    height: 58px;
    border-radius: 0%;
    position: absolute;
    top: 25px;
    left: 125px;

}
.box h1{
    padding-top: 94px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 220px;
    border-color:#117864 ;
}
.box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background: #117864 ;
}
.box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
   

}


.box a:hover {
    color: #fff;

}
.box input[type = "email"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "email"]:focus{
    width: 220px;
    border-color:#117864 ;
}

